{% load django_bootstrap5 %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>MatchFinder AI</title>

    {% bootstrap_css %}
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color:rgb(39,79,137)">
      <div class="container-fluid">
        <span class="navbar-brand mb-0 h1">MatchFinder AI</span>
        <button class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarNav"
                aria-controls="navbarNav"
                aria-expanded="false"
                aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-link" href="{% url 'post_list' %}">題目討論區</a>
            <a class="nav-link" href="{% url 'post_compare' %}">程式碼比對</a>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">我的帳號</a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">

                <li> 
                  {% if user.is_authenticated %}
                  {% if user.is_staff %}
                      <!-- Display the button only if the user is staff -->
                      <a class="dropdown-item" href="{% url 'myword' %}">資料控管</a>
                  {% endif %}
                  {% endif %}
                </li> 
                <li><a class="dropdown-item" href="{% url 'logout' %}">登出</a></li>
                  
              </ul>
            </li>
            <span class="nav-item nav-link ml-auto">使用者：{{ user.username }}</span>
          </div>
        </div>
      </div>
    </nav>
 
    <div class="container pt-3">
      {% bootstrap_messages %}

      {% block body %}
      {% endblock body %}
    </div>


    {% bootstrap_javascript %}
  </body>
</html>
