{% extends 'base.html' %}
{% block body %}
  <div class="row">
    <div class="col">
      <h1>題目列表</h1>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="搜尋題目" aria-label="Search">
        <button class="btn btn-primary" type="submit">搜尋</button>
      </form>
    </div>
    <div class="col text-end">
      <a class="btn btn-outline-success" href="{% url 'post_create' %}">上傳題目</a>
    </div>
  </div>

  {% comment %} <ul>
    {% for post in posts %}
      <li>
        #{{ post.id }} | {{ post.title }} | <a href="{% url 'post_detail' post.id %}">detail</a>
      </li>
    {% empty %}
      <li>沒有任何文章</li>
    {% endfor %}
  </ul> {% endcomment %}

  <div class="row">
    <div class="col">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">編號</th>
            <th scope="col">題目</th>
            <th scope="col">比對次數</th>
            <th scope="col">加入時間</th>
            <th scope="col">最後更新時間</th>
          </tr>
        </thead>
        <tbody>
          {% for post in posts %}
            <tr>
              <th scope="row">{{ post.id }}</th>
              <td>{{ post.title }}</td>
              <td>{{ post.is_public }}</td>
              <td>{{ post.image }}</td>
              <td>{{ post.newtime }}</td>
              {% comment %} <td>{{ post.input }}</td>
              <td>{{ post.output }}</td>
              <td>{{ post.input_ex }}</td>
              <td>{{ post.output_ex }}</td> {% endcomment %}
              <td>
                <a class="btn btn-info btn-sm" href="{% url 'post_detail' post.id %}">進入</a>
              </td>
            </tr>
          {% empty %}
            <tr>
              <th scope="row" colspan="4" class="text-center">目前沒有任何題目，不如你發一篇吧！</th>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock body %}

