{% extends 'base.html' %}
{% block body %}
  <div class="row">
    <div class="col">
      <h1>群組列表</h1>
    </div>
    <div class="col text-end">
      <a class="btn btn-outline-success" href="{% url 'post_groupcreate' %}">新增群組</a>
    </div>
  </div>

  {% comment %} <ul>
    {% for post in posts %}
      <li>
        #{{ post.id }} | {{ post.title }} | <a href="{% url 'post_detail' post.id %}">detail</a>
      </li>
    {% empty %}
      <li>沒有任何文章</li>
    {% endfor %}
  </ul> {% endcomment %}

  <div class="row">
    <div class="col">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">編號</th>
            <th scope="col">名稱</th>
            <th scope="col">人數</th>
          </tr>
        </thead>
        <tbody>
          {% for group in groups %}
            <tr>
              <th scope="row">{{ group.id }}</th>
              <td>{{ group.G_name }}</td>
              <td>{{ group.count }}</td>
              {% comment %} <td>{{ group.tags.all|join:', ' }}</td> {% endcomment %}
              <td>
                <a class="btn btn-info btn-sm" href="{% url 'post_detail' group.id %}">進入</a>
              </td>
            </tr>
          {% empty %}
            <tr>
              <th scope="row" colspan="4" class="text-center">目前沒有任何群組，不如你建一個吧！</th>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock body %}
